#sidebar {
  width: 250px;
  background: #333;
  color: white;
  height: 100vh;
  overflow: auto;
  padding: 10px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a {
    color: #eee;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 15px;
    transition: 5px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      color: #fff;
    }
  }
}
