#authLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(0, 204, 153);
  background: linear-gradient(
    0deg,
    rgba(51, 153, 102, 1) 0%,
    rgb(0, 204, 153) 100%
  );
}
